/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #d5e4d9;
}

.hero {
    background-image: url("../img/tour2.png");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero1 {
    background-image: url("../img/hero1.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero2 {
    background-image: url("../img/subic1.JPG");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero3 {
    background-image: url("../img/museo1.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero4 {
    background-image: url("../img/bsp.png");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero5 {
    background-image: url("../img/hytec1.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero6 {
    background-image: url("../img/lrt1.JPG");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero7 {
    background-image: url("../img/tour1.png");
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
.hero7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% darkness */
    z-index: 1;
}

.hero-text {
    color: white;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 10px;
    z-index: 2; /* Above the overlay */
    position: relative;
}

.gap {
    background-color: #1b4457;
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-gap {
    width: 50%;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: monospace;
    padding: 20px;
    word-spacing: 5px;
    border-radius: 10px;
    line-height: 1.2;
    z-index: 2; /* Above the overlay */
    position: relative;
}


.intro {
    background-color: #274e13;
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    width: 50%;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: monospace;
    padding: 22px;
    word-spacing: 5px;
    border-radius: 10px;
    line-height: 1.2;
    z-index: 2; /* Above the overlay */
    position: relative;
}

.about-section {
    display: flex;
    width: 100%;
    height: auto;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.about-left {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;  /* Aligns content (h2) to the bottom */
    padding: 20px; /* Optional: Adds padding on left and right */
}

.about-left img {
    width: 80%; /* Adjust the size of the image as needed */
    height: auto;
    margin-bottom: 50px;
}

.about-left h2 {
    position: absolute;
    color: #1b4457;
    font-size: 1.8rem;
    letter-spacing: 0.2cm;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.about-right {
    flex-direction: column;
}


.about-right p {
    width: 80%;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.6;
}

.bsit-tour-section {
    text-align: center;
    margin: 50px 0;
    background-color: #274e13;
}

.bsit-tour-section img {
    width: 80%; /* Makes the image responsive */
    height: auto;
    padding: 20px;
    max-height: auto; /* Adjust based on your image size */
    object-fit: cover; /* Ensures the image covers the area */
}

.bsit-tour-text {
    width: 80%;
    text-align: left;
    padding: 20px;
    background-color: #274e13; /* Light background for readability */
    margin-top: 20px; /* Adds space between the image and text */
    margin: 0 auto;
    color: #f9f9f9;
}

.bsit-tour-text h2 {
    font-size: 4rem;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-weight: bold;
}

.bsit-tour-text p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    font-family: monospace;
}

.gap1 {
    width: 80%;
    background-color: #d5e4d9;
    position: relative;
    color: #274e13;
    text-align: left;
    padding: 20px;
    font-family: monospace;
    margin: 0 auto;
    font-size: 1rem;
    top: -20px;
}

.image-text-button-section {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  /* Ensures the items wrap to the next line on smaller screens */
}

.section-item {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 20px;
    max-width: 32%; /* Adjust to 33.33% for 3 blocks or 25% for 4 blocks */
    margin-bottom: 20px; /* Spacing between blocks */
    text-align: center; /* Centering the content */
}

.section-item img {
    width: 350px; /* Makes the image responsive */
    height: 300px;
    object-fit: cover;
}

.section-item1 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 20px;
    max-width: 23%; /* Adjust to 33.33% for 3 blocks or 25% for 4 blocks */
    margin-bottom: 20px; /* Spacing between blocks */
    border-radius: 10px;
    text-align: center; /* Centering the content */
}

.section-item1 img {
    width: 250px; /* Makes the image responsive */
    height: 200px;
    object-fit: cover;
}

.section-item1 .explore-btn {
    margin: 0  auto;
    width: 250px;
    background-color: #274e13;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section-item1 .explore-btn:hover {
    background-color: #274e1398;
}


.section-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #274e13;
    font-family: monospace;
    line-height: 1.6;
    padding: 15px;
}

.section-content p {
    font-size: .9rem;
    font-weight: bold;
    color: #274e13;
    font-family: monospace;
    line-height: 1.6;
    margin: 20px;
}

.section-item1 .section-content h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #274e13;
    font-family: monospace;
    line-height: 1.6;
    padding: 15px;
}

.section-item1 .section-content p {
    font-size: .8rem;
    font-weight: bold;
    color: #274e13;
    font-family: monospace;
    line-height: 1.6;
    margin: 20px;
}

.explore-btn {
    margin: 0  auto;
    width: 350px;
    background-color: #274e13;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-btn:hover {
    background-color: #274e1398;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .section-item {
        max-width: 100%;  /* Stacks the items vertically on smaller screens */
    }

    .section-item h2 {
        font-size: 1.5rem;
    }

    .section-item p {
        font-size: 1rem;
    }

    .explore-btn {
        padding: 10px 20px;
    }
}
.gallery-section {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    background-color: #1b4457;
    text-align: center;
    margin: 0 auto;
  }
  
  .gallery-text h2 {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f9f9f9;
    font-family: monospace;
  }
  
  .gallery-text p {
    line-height: 1.6;
    font-size: 1rem;
    width: 90%;
    font-weight: bold;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    margin: 0 auto;
  }
  
  .image-grid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 20px;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
  }

  .text-carousel-section {
    display: flex;
    align-items: center;       /* vertically center */
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .text-left {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text-left h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .text-left p {
    text-align: center;
    margin: 0 auto;
    font-family: monospace;
    font-size: 1rem;
    color: #274e13;
    word-spacing: .1rem;
    line-height: 1.6;
  }
  
  .carousel-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .carousel-wrapper {
    width: 600px;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  
  .slide-track {
    display: flex;
    width: 300%;
    animation: slideLoop 9s infinite;
  }
  
  .slide-track img {
    width: 600px;
    height: 500px;
  }
  
  @keyframes slideLoop {
    0% { transform: translateX(0%); }
    60% { transform: translateX(0%); }
  
    60% { transform: translateX(-120%); }
    120% { transform: translateX(-120%); }
  
    120% { transform: translateX(-180%); }
    180% { transform: translateX(-180%); }
  }
  
  
